<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{ acc_username }} <br>
    {{ name }} <br>
    {{ email }} <br>
    <a id="signin-btn" class="menu-login-btn" href="/change_pass">Change Password</a>
    <form action="tfa_update" method = post >
        <input type="checkbox" name="tfa" {{'checked="checked"' if user_tfa == 'True' else ""}}/> Enable Two Factor Authentication? <br>
        <input type="submit" value="Apply"> <br>
    </form>

</head>
<body>

</body>
</html>