<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class='mainmenu'>
        <div class="website-name">AlmosTwitter</div>
        <a class="menu-buttons">
            <a id="signin-btn" class="menu-login-btn">Sign in</a>
            <a id="signup-btn" class="menu-login-btn" href="/registration">Sign up</a>
        </div>
    </div>
    <div class="newpost">
        <form action="/newpost" method="POST" name="newpost">
            <textarea name="post-text" id="psot-text" form="newpost" placeholder="Whats happening?"></textarea>
            <input type="submit" class="post-submit" value="Tweet">
        </form>


    </div>
    </div>
    <div class="posts-wrapper">
        <div class="post">
            <div class="post-header">
                <div class="post-username">Test User</div>
                <div class="post-user">@test_user</div>
                <div class="post-date">22/10/2018</div>
            </div>
            <div class="post-content">
                Bacon ipsum dolor amet meatloaf leberkas turkey salami venison cupim frankfurter spare ribs pastrami
                shankle shoulder cow swine flank ground round. Salami venison pastrami, shoulder ground round chicken
                capicola shank sirloin hamburger beef alcatra meatloaf picanha rump. Pork belly cow leberkas,
                tenderloin burgdoggen shank doner. Capicola sirloin porchetta shank beef ribs burgdoggen biltong
                sausage alcatra spare ribs prosciutto kevin jowl picanha. Landjaeger picanha flank jowl turkey pancetta
                shoulder. Turkey jerky pork chop.
            </div>

        </div>
    </div>
    <div class="posts-wrapper">
        <div class="post">
            <div class="post-header">
                <div class="post-username">Test User</div>
                <div class="post-user">@test_user</div>
                <div class="post-date">22/10/2018</div>
            </div>
            <div class="post-content">
                Bacon ipsum dolor amet meatloaf leberkas turkey salami venison cupim frankfurter spare ribs pastrami
                shankle shoulder cow swine flank ground round. Salami venison pastrami, shoulder ground round chicken
                capicola shank sirloin hamburger beef alcatra meatloaf picanha rump. Pork belly cow leberkas,
                tenderloin burgdoggen shank doner. Capicola sirloin porchetta shank beef ribs burgdoggen biltong
                sausage alcatra spare ribs prosciutto kevin jowl picanha. Landjaeger picanha flank jowl turkey pancetta
                shoulder. Turkey jerky pork chop.
            </div>

        </div>
    </div>
    <div class="posts-wrapper">
        <div class="post">
            <div class="post-header">
                <div class="post-username">Test User</div>
                <div class="post-user">@test_user</div>
                <div class="post-date">22/10/2018</div>
            </div>
            <div class="post-content">
                Bacon ipsum dolor amet meatloaf leberkas turkey salami venison cupim frankfurter spare ribs pastrami
                shankle shoulder cow swine flank ground round. Salami venison pastrami, shoulder ground round chicken
                capicola shank sirloin hamburger beef alcatra meatloaf picanha rump. Pork belly cow leberkas,
                tenderloin burgdoggen shank doner. Capicola sirloin porchetta shank beef ribs burgdoggen biltong
                sausage alcatra spare ribs prosciutto kevin jowl picanha. Landjaeger picanha flank jowl turkey pancetta
                shoulder. Turkey jerky pork chop.
            </div>

        </div>
    </div>
</body>

</html>