<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div class='mainmenu'>
        <a href="/"><div class="website-name">Norfolk Music</div></a>
        {% if not session.username %}
        <a class="menu-buttons">
            <a id="signin-btn" class="menu-login-btn" href="/login">Sign in</a>
            <a id="signup-btn" class="menu-login-btn" href="/registration">Sign up</a>
    </div>
    {% else %}


    <div class="menu-buttons">
        Welcome, {{ session['username']|safe  }}
        <a id="signup-btn" class="menu-login-btn" href="/account">Account</a>
        <a id="signup-btn" class="menu-login-btn" href="/logout">Logout</a>
    </div>
    {% endif %}
    </div>

    <div class="account-tile">
        <div class="account-title">Change password</div>
        <div class="password-management">
            <form action="password_change" method="post">
                <diV class="pass-line">Old Password: <div class="input-wrap"><input type="password" name="old_pass" required> </diV></diV>
                <diV class="pass-line">New Password: <div class="input-wrap"><input type="password" name="new_pass" required></div></diV>
                <diV class="pass-line">Confirm New Password: <div class="input-wrap"><input type="password" name="conf_new_pass" required></div></diV>
                <button type="submit">Proceed</button>
            </form>
        </div>
        {{ pass_error|safe  }}
    </div>
</body>

</html>