<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <div class='mainmenu'>
        <a href="/">
            <div class="website-name">Norfolk Music</div>
        </a>
        {% if not session.username %}
        <div class="menu-buttons">
            <a id="signin-btn" class="menu-login-btn" href="/login">Sign in</a>
            <a id="signup-btn" class="menu-login-btn" href="/registration">Sign up</a>
        </div>
        {% else %}


        <div class="menu-buttons">
            Welcome, {{ session['username']|safe  }}
            <a id="signup-btn" class="menu-login-btn" href="/account">Account</a>
            <a id="signup-btn" class="menu-login-btn" href="/logout">Logout</a>
        </div>
        {% endif %}
    </div>
    <div class="account-tile">
        <form action="password_reset" method="post">
            <diV class="pass-line"> Email<div class="input-wrap"><input type="text" name="email" required></div>
            </diV>
            <button type="submit">Reset</button>
        </form>
    </div>

</body>

</html>