<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <form action="password_change" method="post">
        Old Password: <input type="password" name="old_pass" required> <br>
        New Password: <input type="password" name="new_pass" required> <br>
        Confirm New Password: <input type="password" name="conf_new_pass" required> <br>
        <input type="submit" value="Register" id="reg-btn">
    </form>
    {{ pass_error }}
</head>
<body>

</body>
</html>