<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>

</head>
<body>

    <form action = "registerUser" method = "post" >

        Username <input type = "text" name = "username" required><br>
        First Name <input type = "text" name = "firstName" required><br>
        Last Name <input type = "text" name = "lastName" required><br>
        Email <input type = "text" name = "email" required><br>
        Confirm Email <input type = "text" name = "confEmail" required><br>
        {{emailError}}
        Password <input type = "password" name = "password" required><br>
        Confirm Password <input type = "password" name = "confPassword" required><br>
        {{passwordError}} <br>

        <input type = "submit" value = "Register" >
    </form>

</body>
</html>