<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>

</head>
<body>

    <form action = "registerUser" method = "post" >

        Username <input type = "text" name = "username" ><br>
        First Name <input type = "text" name = "firstName" ><br>
        Last Name <input type = "text" name = "lastName" ><br>
        Country <input type = "text" name = "country" ><br>
        County <input type = "text" name = "county" ><br>
        Email <input type = "text" name = "email" ><br>
        Confirm Email <input type = "text" name = "confEmail" ><br>
        {{emailError}} <br>
        Password <input type = "text" name = "password" ><br>
        Confirm Password <input type = "text" name = "confPassword" ><br>
        {{passwordError}} <br>

        <input type = "submit" value = "Register" >
    </form>

</body>
</html>